.sdivTable1
    {
        display:  table;
        width:100%;
        border:0px solid #000;
        border-spacing:0px;/*cellspacing:poor IE support for  this*/
       /* border-collapse:separate;*/
    }

}
.sCSSTableGeneratorss {
	             padding: 0px;
	             width: 200px;
	             border: 0px solid #000000;
	             border-top-left-radius: 0px;
                 }

.sCSSTableGeneratorss table {
	                   border-collapse: collapse;
	                   border-spacing: 0;
	                   width: 99.2%;
	                   height: 100%;
	                   margin: 0px;
	                   padding: 0px;
                       }
                                 .slatterh{
	                                 background-color: #ff7f00;
	                                 border: 1px solid #000000;
	                                 text-align: center;
	                                 font-size: 9px;
	                                 font-family: Arial;
	                                 color: #ffffff;
	                                 height:33px;
	                                 vertical-align: middle;
	                                 
                                     }

    .slatterbold{font-weight:bold;}
   

    .sdivRow1
    {
	   border:0px solid #000;
       width:107%;
      
    }
    
     .sheadRow1
    {
        float:left;/*fix for  buggy browsers*/
        display:table-column;
        width:106%;
        background-color:#ccc;
		border: 1px solid #000;
		height:106px;
    }
    
    .sdivCel1
    {
        float:left;/*fix for  buggy browsers*/
        display:table-column;
        width:50%;
        background-color:#ccc;
		border: 0px solid #000;
		height:106px;
    }

    .sdivCel01
    {
        float:left;/*fix for  buggy browsers*/
        display:table-column;
        width:368px;
        background-color:#ccc;
		border: 1px solid #000; text-align:center;
    }
    
    .sdivCel02
    {
        float:left;/*fix for  buggy browsers*/
        display:table-column;
        width:300px;
        background-color:#ccc;
		border: 1px solid #000; text-align:center;
    }
    .sdivCel03
    {
        float:left;/*fix for  buggy browsers*/
        display:table-column;
        width:350px;
        background-color:#ccc;
		border: 1px solid #000; text-align:center;
	
    }
    
     .sdivCel04
    {
        float:left;/*fix for  buggy browsers*/
        display:table-column;
        width:678px;
        background-color:#ccc;
		border: 1px solid #000; text-align:center;
	
    }
    
    
      .sdivCel25
    {
        float:left;/*fix for  buggy browsers*/
        display:table-column;
        width:460px;
        border: 1px solid #000; text-align:center;
	
    }
    
    
     .sdivCel26
    {
        float:left;/*fix for  buggy browsers*/
        display:table-column;
        width:279px;
		border: 1px solid #000; text-align:center;
	
    }
    
    
    .sdivCel05
    {
        float:left;/*fix for  buggy browsers*/
        display:table-column;
        width:170px;
        background-color:#ccc;
		border: 1px solid #000; text-align:center;
	
    }
    
.sdivCel06
   {
       float:left;/*fix for  buggy browsers*/
       display:table-column;
       width:330px;
       background-color:#ccc;
        text-align:center;
    
   }
   
   .sdivCel066
   {
       float:left;/*fix for  buggy browsers*/
       display:table-column;
       width:340px;
       background-color:#ccc;
        border: 1px solid #000; text-align:center;
    
   }


  .sdivCel07
    {
        float:left;/*fix for  buggy browsers*/
        display:table-column;
        width:380px;
        background-color:#ccc;
		border: 1px solid #000; text-align:center;
	
    }
    
    .sdivCel08
    {
        float:left;/*fix for  buggy browsers*/
        display:table-column;
        width:240px;
        background-color:#ccc;
		border: 1px solid #000; text-align:center;
    }
    
    .sdivCel09
    {
        float:left;/*fix for  buggy browsers*/
        display:table-column;
        width:340px;
        background-color:#ccc;
		border: 1px solid #000; text-align:center;
    }



  .sdivCel10
    {
        float:left;/*fix for  buggy browsers*/
        display:table-column;
        width:300px;
        background-color:#ccc;
		text-align:center;
	
    }
    
    .sdivCel11
    {
        float:left;/*fix for  buggy browsers*/
        display:table-column;
        width:300px;
        background-color:#ccc;
		border: 1px solid #000; text-align:center;
	
    }
    
     .sdivCel12
    {
        float:left;/*fix for  buggy browsers*/
        display:table-column;
        width:75px;
        background-color:#ccc;
        border: 1px solid #000; text-align:center;
	
    }
    
      .sdivCel00
    {
        float:left;/*fix for  buggy browsers*/
        display:table-column;
        width:100px;
        background-color:#ccc;
		border: 1px solid #000; text-align:center;
	
    }
    .sdivCel13
    {
        float:left;/*fix for  buggy browsers*/
        display:table-column;
        width:96px;
        background-color:#ccc;
		border: 1px solid #000; text-align:center;
    }


   .sdivCel14
    {
        float:left;/*fix for  buggy browsers*/
        display:table-column;
        width:87px;
        background-color:#ccc;
		border: 1px solid #000; text-align:center;
    }
  
  .sdivCel15
    {
        float:left;/*fix for  buggy browsers*/
        display:table-column;
        width:auto;
        background-color:#ccc;
		text-align:center;
	
    }
       
  .sdivCel16
  
    {
        float:left;/*fix for  buggy browsers*/
        display:table-column;
        width:844px;
        background-color:#ccc;
	    
    }
    
    
  .sdivCel17
    {
        float:left;/*fix for  buggy browsers*/
        display:table-column;
        width:844px;
        background-color:#ccc;
		border: 1px solid #000;
	
    }
    
     .sdivCel18
    {
        float:left;/*fix for  buggy browsers*/
        display:table-column;
        width:192px;
        background-color:#ccc;
		border: 1px solid #000; text-align:center;
	
    }
    
    
     .sdivCel19
    {
        float:left;/*fix for  buggy browsers*/
        display:table-column;
        width:190px;
        background-color:#ccc;
		border: 1px solid #000; text-align:center;
	
    }
    
    
    .sdivCel20
    {
        float:left;/*fix for  buggy browsers*/
        display:table-column;
        width:422px;
        background-color:#ccc;
		border: 1px solid #000;
	
    }


.sdivCel21
    {
        float:left;/*fix for  buggy browsers*/
        display:table-column;
        width:99.10%;
        background-color:#ccc;
		border: 1px solid #000;
	
    }
    
    
    .sdivCel22
    {
        float:left;/*fix for  buggy browsers*/
        display:table-column;
        width:900px;
        background-color:#ccc;
		text-align:center;
	
    }
    
    
    .sdivCel23

    {
        float:left;/*fix for  buggy browsers*/
        display:table-column;
        width:650px;
        background-color:#ccc;
		text-align:center;
	
    }
     .sdivCel24
    {
        float:left;/*fix for  buggy browsers*/
        display:table-column;
        width:250px;
        background-color:#ccc;
		text-align:center;
	
    }
    
    
   
    
    
     .sdivCel27
    {
        float:left;/*fix for  buggy browsers*/
        display:table-column;
        width:135px;
        background-color:#ccc;
        border: 1px solid #000; text-align:center;
    
    }
    
    
    
  .sdivCel28
    {
        float:left;/*fix for  buggy browsers*/
        display:table-column;
        width:617px;
        background-color:#ccc;
        text-align:center;
    
    }
    
    
     .sdivCel29
    {
        float:left;/*fix for  buggy browsers*/
        display:table-column;
        width:212px;
        background-color:#ccc;
        border: 1px solid #000; text-align:center;
    
    }
    
     .sdivCel30
    {
        float:left;/*fix for  buggy browsers*/
        display:table-column;
        width:99.1%;
        background-color:#ccc;
		border: 1px solid #000; text-align:center;
	
    }
    
    
     .sdivCel31
    {
        float:left;/*fix for  buggy browsers*/
        display:table-column;
        width:617px;
        background-color:#ccc;
		border: 1px solid #000; text-align:center;
		padding:5px;
    }
    
     
     .sdivCel32
    {
        float:left;/*fix for  buggy browsers*/
        display:table-column;
        width:95%;
        background-color:#ccc;
				
    }




.spdng{padding:1px;}
.sboldbl{font-weight:bold; font-size:12px;}
.sbold1bl{font-weight:bold; font-size:10px;}
.sbold2bl{font-size:10px;}
.spaddingbl{padding:8px;}
.spadding1bl{padding:15px;}
.spadding2bl{padding:22px;}
.spadding3bl{padding:10px; text-align:center;}
.spadding00bl{
            padding:15px;
            }

    .sdivbdrbl{border-right:0px solid #000; border-top:1px solid #000; border-left:1px solid #000;}
	.sdivbdr1bl{border-right:1px solid #000; border-top:1px solid #000; border-left:0px solid #000;}