
  
  
  .divTableb
    {
        display:  table;
        width:100%;
        border:0px solid #000;
        border-spacing:0px;/*cellspacing:poor IE support for  this*/
       /* border-collapse:separate;*/
    }

}
.qCSSTableGeneratorss {
	             padding: 0px;
	             width: 200px;
	             border: 0px solid #000000;
	             border-top-left-radius: 0px;
                 }

.qCSSTableGeneratorss table {
	                   border-collapse: collapse;
	                   border-spacing: 0;
	                   width: 99.2%;
	                   height: 100%;
	                   margin: 0px;
	                   padding: 0px;
                       }
                                 .qlatterh{
	                                 background-color: #ff7f00;
	                                 border: 1px solid #000000;
	                                 text-align: center;
	                                 font-size: 9px;
	                                 font-family: Arial;
	                                 color: #ffffff;
	                                 height:33px;
	                                 vertical-align: middle;
	                                 
                                     }

    .qlatterbold{font-weight:bold;}



    .divRowb
    {
	   border:0px solid #000;
       width:107%;
      
    }
    
     .headRowb
    {
        float:left;/*fix for  buggy browsers*/
        display:table-column;
        width:106%;
        background-color:#ccc;
		border: 1px solid #000;
		height:106px;
    }
    
    .divCell1b
    {
        float:left;/*fix for  buggy browsers*/
        display:table-column;
        width:50%;
        background-color:#ccc;
		border: 0px solid #000;
		height:106px;
    }

    .divCell01b
    {
        float:left;/*fix for  buggy browsers*/
        display:table-column;
        width:368px;
        background-color:#ccc;
		border: 1px solid #000; text-align:center;
    }
    
    .divCell02b
    {
        float:left;/*fix for  buggy browsers*/
        display:table-column;
        width:300px;
        background-color:#ccc;
		border: 1px solid #000; text-align:center;
    }
    .divCell03b
    {
        float:left;/*fix for  buggy browsers*/
        display:table-column;
        width:350px;
        background-color:#ccc;
		border: 1px solid #000; text-align:center;
	
    }
    
     .divCell04b
    {
        float:left;/*fix for  buggy browsers*/
        display:table-column;
        width:678px;
        background-color:#ccc;
		border: 1px solid #000; text-align:center;
	
    }
    
    
      .divCell25b
    {
        float:left;/*fix for  buggy browsers*/
        display:table-column;
        width:460px;
        border: 1px solid #000; text-align:center;
	
    }
    
    
     .divCell26b
    {
        float:left;/*fix for  buggy browsers*/
        display:table-column;
        width:279px;
		border: 1px solid #000; text-align:center;
	
    }
    
    
    .divCell05b
    {
        float:left;/*fix for  buggy browsers*/
        display:table-column;
        width:170px;
        background-color:#ccc;
		border: 1px solid #000; text-align:center;
	
    }
    
.divCell06b
   {
       float:left;/*fix for  buggy browsers*/
       display:table-column;
       width:330px;
       background-color:#ccc;
        text-align:center;
    
   }
   
   .divCell066b
   {
       float:left;/*fix for  buggy browsers*/
       display:table-column;
       width:340px;
       background-color:#ccc;
        border: 1px solid #000; text-align:center;
    
   }


  .divCell07b
    {
        float:left;/*fix for  buggy browsers*/
        display:table-column;
        width:380px;
        background-color:#ccc;
		border: 1px solid #000; text-align:center;
	
    }
    
    .divCell08b
    {
        float:left;/*fix for  buggy browsers*/
        display:table-column;
        width:240px;
        background-color:#ccc;
		border: 1px solid #000; text-align:center;
    }
    
    .divCell09b
    {
        float:left;/*fix for  buggy browsers*/
        display:table-column;
        width:340px;
        background-color:#ccc;
		border: 1px solid #000; text-align:center;
    }



  .divCell10b
    {
        float:left;/*fix for  buggy browsers*/
        display:table-column;
        width:400px;
        background-color:#ccc;
		text-align:center;
	
    }
    

    .divCell11b
    {
        float:left;/*fix for  buggy browsers*/
        display:table-column;
        width:400px;
        background-color:#ccc;
		border: 1px solid #000; text-align:center;
	
    }
    
     .divCell12b
    {
        float:left;/*fix for  buggy browsers*/
        display:table-column;
        width:100px;
        background-color:#ccc;
		border: 1px solid #000; text-align:center;
	
    }
    
    .divCell13b
    {
        float:left;/*fix for  buggy browsers*/
        display:table-column;
        width:96px;
        background-color:#ccc;
		border: 1px solid #000; text-align:center;
    }

	.divCell14b_2{
		float:left;/*fix for  buggy browsers*/
        display:table-column;
        width:63.3px;   
        background-color:#ccc;
		border: 1px solid #000; text-align:center;
	
	}
   .divCell14b
    {
        float:left;/*fix for  buggy browsers*/
        display:table-column;
        width:87px;   
        background-color:#ccc;
		border: 1px solid #000; text-align:center;
    }
  
  .divCell15b
    {
        float:left;/*fix for  buggy browsers*/
        display:table-column;
        width:auto;
        background-color:#ccc;
		text-align:center;
	
    }
       
  .divCell16b
  
    {
        float:left;/*fix for  buggy browsers*/
        display:table-column;
        width:844px;
        background-color:#ccc;
	    
    }
    
    
  .divCell17b
    {
        float:left;/*fix for  buggy browsers*/
        display:table-column;
        width:844px;
        background-color:#ccc;
		border: 1px solid #000;
	
    }
    
     .divCell18b
    {
        float:left;/*fix for  buggy browsers*/
        display:table-column;
        width:192px;
        background-color:#ccc;
		border: 1px solid #000; text-align:center;
	
    }
    
    
     .divCell19b
    {
        float:left;/*fix for  buggy browsers*/
        display:table-column;
        width:190px;
        background-color:#ccc;
		border: 1px solid #000; text-align:center;
	
    }
    
    
    .divCell20b
    {
        float:left;/*fix for  buggy browsers*/
        display:table-column;
        width:422px;
        background-color:#ccc;
		border: 1px solid #000;
	
    }


.divCell21b
    {
        float:left;/*fix for  buggy browsers*/
        display:table-column;
        width:99.10%;
        background-color:#ccc;
		border: 1px solid #000;
	
    }
    
    
    .divCell22b
    {
        float:left;/*fix for  buggy browsers*/
        display:table-column;
        width:900px;
        background-color:#ccc;
		text-align:center;
	
    }
    
    
    .divCell23b
    {
        float:left;/*fix for  buggy browsers*/
        display:table-column;
        width:650px;
        background-color:#ccc;
		text-align:center;
	
    }
     .divCell24b
    {
        float:left;/*fix for  buggy browsers*/
        display:table-column;
        width:250px;
        background-color:#ccc;
		text-align:center;
	
    }
    
    
   
    
    
     .divCell27b
    {
        float:left;/*fix for  buggy browsers*/
        display:table-column;
        width:135px;
        background-color:#ccc;
        border: 1px solid #000; text-align:center;
    
    }
    
    
    
  .divCell28b
    {
        float:left;/*fix for  buggy browsers*/
        display:table-column;
        width:617px;
        background-color:#ccc;
        text-align:center;
    
    }
    
    
     .divCell29b
    {
        float:left;/*fix for  buggy browsers*/
        display:table-column;
        width:212px;
        background-color:#ccc;
        border: 1px solid #000; text-align:center;
    
    }
    
     .divCell30b
    {
        float:left;/*fix for  buggy browsers*/
        display:table-column;
        width:401px;
        background-color:#ccc;
		border: 1px solid #000; text-align:center;
	
    }
    
    
     .divCell31b
    {
        float:left;/*fix for  buggy browsers*/
        display:table-column;
        width:617px;
        background-color:#ccc;
		border: 1px solid #000; text-align:center;
		padding:5px;
    }
    
     
     .divCell32b
    {
        float:left;/*fix for  buggy browsers*/
        display:table-column;
        width:390px;
        background-color:#ccc;
				
    }




.pdng{padding:1px;}
.boldb{font-weight:bold; font-size:12px;}
.bold1b{font-weight:bold; font-size:10px;}
.bold2b{font-size:10px;}
.paddingb{padding:8px;}
.paddingb_2{padding:8px 0px;}
.padding1b{padding:15px;}
.padding2b{padding:22px;}
.padding3b{padding:10px; text-align:center;}


    .divbdrb{border-right:0px solid #000; border-top:1px solid #000; border-left:1px solid #000;}
	.divbdr1b{border-right:1px solid #000; border-top:1px solid #000; border-left:0px solid #000;}
