		
body{color: #bdbdbd; }
		
::-webkit-scrollbar {
    width: 12px;
}
::-webkit-scrollbar-track {
    background-image: url('../../resources/img/dark.jpg'); background-size:cover; background-position: left;
    
}
::-webkit-scrollbar-thumb {
    background-color: #3a626d;
}
::-webkit-scrollbar-thumb:hover {
    background-color: #094152;
}

caption {
	color: rgb(250,250,250);
	font-weight: 600;
	margin: 0px auto;
	padding: 0px auto;
	text-align: center;
}	
.ui-dialog > .ui-widget-header {background: teal; border: 2px solid teal}	
		
.ui-widget {
	margin-top: 30px;
}

.ui-widget-content {
	/* margin-top: 30px; */
    background: rgba(0, 0, 0, 0.8) !important;
    border: 1px solid #009688 !important;
}

.ui-dialog .ui-dialog-content {
    background: none repeat scroll 0 0 transparent !important;
    border: 0 none !important;
    overflow: auto !important;
    position: relative !important;
    padding: 0 !important;
}

.ui-widget-header {
    background: #009688 !important;
    border: 0;
    font-weight: normal !important;
}

.ui-dialog .ui-dialog-titlebar {
    padding: 0.5em .5em !important;
    position: relative !important;
    font-size: 1em !important;
}

.ui-menu-item{background-color: rgba(250, 250, 250, 0.0);}

.ui-corner-all{color: #ffffff !important;}

td {color: white;}
.hori-td{height: 40px; margin-top: -15 !important; min-width: 200px;}


.form-error input.ng-invalid {
	border: solid 1px red;
	background-color: #F5E7E1;
}

.form-error textarea.ng-invalid {
	border : solid 1px red;
	background-color: #F5E7E1;
}

.form-error select.ng-invalid {
	border : solid 1px red;
	background-color: #F5E7E1;
}

.errorMargin {
	margin-top : 5px!important;
	color : red;
	font-size : 15px;
}

input {
	border-radius : 4px;
}
select {
	border-radius : 4px;
}
textarea {
	border-radius : 4px;
}

table {
	background-color:black!important;
}

/* th td {  */
/* 	color : white!important; */
/* } */
/* tr:nth-child(odd){background-color: 	#DCDCDC} */
/* tr:hover {background-color: #F2FAEF;} */