.tblrow{
	border: 1px solid rgba(255, 255, 255, 0.47);
	-moz-border: 1px solid rgba(255, 255, 255, 0.47);
	-webkit-border: 1px solid rgba(255, 255, 255, 0.47);
	padding:5px;
	margin-bottom:0px;
	
		
		 text-align:center;
	}

.coltag{
	background: #0F716D none repeat scroll 0% 0%;
	-moz-background: #0F716D none repeat scroll 0% 0%;
	 -webkit-background: #0F716D none repeat scroll 0% 0%;
	 font-family:'Lucida Console', Monaco, monospace; 
	 font-weight:bold; color: #C2C2C2;
	 text-transform:uppercase; padding:10px;
	 -moz-text-transform:uppercase; padding:10px;
	  -webkit-text-transform:uppercase; padding:10px;
	   text-align:center;
	}	

	.rowclr{
	<!--background: rgba(0, 102, 102, 0.33) none repeat scroll 0% 0%;
	     -mozbackground: rgba(0, 102, 102, 0.33) none repeat scroll 0% 0%;
		
		 -webkit-background: rgba(0, 102, 102, 0.33) none repeat scroll 0% 0%;-->
		 text-align:center;
		 padding:5px;
		}
		
		.colclr{
		color:#26A69A;
		 text-align:center;
		border-right: 1px solid rgba(255, 255, 255, 0.47);
		border:1px solid rgba(255, 255, 255, 0.47);
		-moz-border-right: 1px solid rgba(255, 255, 255, 0.47);
		-webkit-border-right: 1px solid rgba(255, 255, 255, 0.47);
		
		}
		
		.rowcel{
		text-align:center;
		  color: #B5DAD4;
		border-right: 1px solid rgba(255, 255, 255, 0.47);
		border:1px solid rgba(255, 255, 255, 0.47);
		-moz-border-right: 1px solid rgba(255, 255, 255, 0.47);
		-webkit-border-right: 1px solid rgba(255, 255, 255, 0.47);
		
		}
		
 .scrl{
        width:100%; margin-bottom:30px; height:inherit; overflow-x:scroll;  overflow-y:scroll;
      }		
		
      }
  #ankr {
         color:#A4D0D0; 
	     text-decoration:none;
	      margin-bottom: -7px;
	}
		
	.btn{
	border-radius:0px;
	}
	.btn-danger1 {
    margin-bottom:-7px;
 color: #fff;
 background: #0F716D
none repeat scroll 0% 0%;
    -moz-background: #0F716D
none repeat scroll 0% 0%;
     -webkit-background: #0F716D
none repeat scroll 0% 0%;
 border-color: #d43f3a
;
 width:100%;
 font-weight:bold;
} 

.mrg{margin-bottom: 16px;}

.l1{ color:rgb(0,0,0); font-weight:bold; font-family:"Arial Black", Gadget, sans-serif; margin-left: -10px;}
.l2{ color:#545454; font-weight:bold; font-family:News706 BT; margin-left: -10px;}
.l3{ color:#000077; margin-left: -10px;}
.l4{ color:#014E61; margin-left: -10px;}
.l5{ color:#0099cc; margin-left: -10px;}
